.container{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 99vh;
  background-color: grey;
}

.input-code{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  border-radius: 15px;
  overflow: hidden;
}

.wrapper{
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-column-gap: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 40%;
}

.output{
  background-color: #2E3235;
  border: 1px solid black;
  border-radius: 15px;
  height: 100%;
  color: #fff;
}

.output-label{
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

.output-answer{
  margin-left: 15px;
}

.setup{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  height: 100%;
  margin-right: 10px;
  background-color: #2E3235;
  color: #fff;
}

