.center-container{
    display: flex;
    justify-content: center;
    //align-items: top;
    margin-top: 20px;
}

.editor{
    margin-left: 120px;
    width: 1200px;
    min-width: 640px;
    height: 300px;
    min-height: 50px;
    border: 2px solid #333;
    border-radius: 30px; 
    background-color: #ABB9BE54; 
}

.button-container{
    margin-left: 50px;
    height: 90%;
}

.night-mode-button{

    padding-left: 7px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: #c0b8cc3a;
    border: none;
}

.night-mode-button:active{
    background-color: #fff;
}

.night-mode-button img {
    height: 55px;
    width: 55px;
}

